.masthead{	
  position:relative;
  padding:80px 15px;
  color:#FFF;
  text-align:center;
  text-shadow:0 1px 0 rgba(0,0,0,.1);
  background-color:#6883cc;
  background-image:url("/static/images/jobs.png");
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.masthead .container{
  animation:fadein 2s;
  -moz-animation:fadein 2s;
  -webkit-animation:fadein 2s;
  -o-animation:fadein 2s;
  }