{% if message %}
  {{ message }}
{% endif %}

{% if form %}
  <form action = "/" method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "Submit" value = "Search">
  </form>
{% endif %}

{% if jobs%}
  {% for job in jobs %}
  <div>
    <p>
      <h2>{{ job.jobTitle }}<h2>
      <h4>Company Name:</h4>{{ job.companyName }}
    </p>  
    {% if job.jobDescription %}
      <p>{{ job.jobDescription }}</p>
    {% endif %}
    <p>
      <h4>Salary:</h4>
      {% if job.minSalary != '0' %}
	{{ job.minSalary }} - {{ job.maxSalary }}
      {% elif job.maxSalary != '0' %}
	{{ job.maxSalary }}
      {% else %}
	Not Specified
      {% endif %}
    </p>
    <h4>Job Type:</h4>{{ job.jobType }}
  </div>
  {% endfor %}
  <a href = "/" style = "text-decoration:None">Search Again</a>
{% endif %}